* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.serial {
    width: 200px;
    background-color: #eee;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 6px;
    height: 65.6px;
}
.generate {
    display: block;
    padding: 10px;
    background-color: #2ea0c5;
    width: fit-content;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
    transition: background-color 0.5s;
    user-select: none;
}
.generate:hover {
    background-color: #247793;
}
